<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="generator" content="GitLab Pages">
    <title>TabSINT Results</title>
    <link rel="stylesheet" href="style.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/angular-ui-bootstrap/0.14.3/ui-bootstrap-tpls.js"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/angularjs-slider/6.3.0/rzslider.min.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/angularjs-slider/6.3.0/rzslider.min.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/xlsx/0.11.2/xlsx.full.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/json-formatter/0.6.0/json-formatter.min.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/json-formatter/0.6.0/json-formatter.min.css" />
  </head>
  <body>
    <div ng-app="myApp" ng-controller="myCtrl">

        <h2>TabSINT Results Analysis</h2>
        
        <!--<p>-->
        <!--  List of results, loaded using an iframe:-->
        <!--</p>-->
        
        <!--<p><iframe src="data.json" frameborder="0" height="100"-->
        <!--  width="95%"></iframe></p>-->
        <table >
          <tbody>
            <tr>
              <td style="align: top; width: 300px;" class="noborder">
                <h3>Search Parameters</h3>
                  
                <ul>
                <li id="li_1">
                  <label class="description" for="startDate">Test Starting Date </label>
                  <div>
                    <input type="date" id="startDate" name="startDate" class="element text large" maxlength="255" ng-model="userInput.startDate" ng-change="onDateChange()" required />
                    <button ng-click="clearStartDate()">Clear</button>
                  </div>
                </li>		
                <li id="li_2">
                  <label class="description" for="endDate">Test Ending Date </label>
                  <div>
                    <input type="date" id="endDate" name="endDate" class="element text large" maxlength="255" ng-model="userInput.endDate" ng-change="onDateChange()" required /> 
                    <button ng-click="clearEndDate()">Clear</button>
                  </div> 
                </li>
                <li id="li_3">
                  <label class="description" for="protocolName">Protocol Name </label>			
                    <input type="checkbox" ng-model="options.selectMultipleProtocols" name="selectMultipleProtocols" id="selectMultipleProtocols" /> Select Multiple
                  <div ng-if="!options.selectMultipleProtocols">
                    <select name="protocolName" id="protocolName" ng-model="userInput.protocolName" ng-change="onProtocolNameChange()" ng-options="x for x in data.protocolNames">
          		  </select>
          		  <button ng-click="clearProtocolName()">Clear</button>
                  </div>
                  <div ng-if="options.selectMultipleProtocols">
                    <button ng-click="selectAllProtocolNames()">Select All</button> <button ng-click="clearAllProtocolNames()">Clear</button>
                    <p ng-repeat="p in data.protocolNames">
          	        <input type="checkbox" ng-model="userInput.protocolNames[p]" ng-change="onProtocolNameChange()" name="{{p}}" id="{{p}}" />
          	        {{p}}
          		  </p>
                  </div> 
                </li>
                <li id="li_4">
                  <label class="description" for="tabletUUID">Tablet UUID </label>			
                    <input type="checkbox" ng-model="options.selectMultipleTabletUUIDs" name="selectMultipleTabletUUIDs" id="selectMultipleTabletUUIDs" /> Select Multiple
                  <div ng-if="!options.selectMultipleTabletUUIDs">
                    <select name="tabletUUID" id="tabletUUID" ng-model="userInput.tabletUUID" ng-change="onTabletUUIDChange()" ng-options="x for x in data.tabletUUIDs">
          		  </select>
          		  <button ng-click="clearTabletUUID()">Clear</button>
                  </div>
                  <div ng-if="options.selectMultipleTabletUUIDs">
                    <button ng-click="selectAllTabletUUIDs()">Select All</button> <button ng-click="clearAllTabletUUIDs()">Clear</button>
                    <p ng-repeat="p in data.tabletUUIDs">
            	        <input type="checkbox" ng-model="userInput.tabletUUIDs[p]" ng-change="onTabletUUIDChange()" name="{{p}}" id="{{p}}" />
            	        {{p}}
            		  </p>
                  </div> 
                </li>
                <li id="li_5">
                  <label class="description" for="nResponses"> # Responses </label>			
          	        <input type="checkbox" ng-model="options.selectRangeNResponses" ng-change="onNResponsesRangeChange()" name="selectRangeNResponses" id="selectRangeNResponses" /> Select Range
                  <div ng-if="!options.selectRangeNResponses">
          		      <button ng-click="selectAllNResponses()">Select All</button> <button ng-click="clearAllNResponses()">Clear</button>
                    <p ng-repeat="p in data.nResponses">
            	        <input type="checkbox" ng-model="userInput.nResponses[p]" ng-change="onNResponsesChange()" name="{{p}}" id="{{p}}" />
            	        {{p}}
          	        </p>
                  </div>
                  <div ng-if="options.selectRangeNResponses" style="width: 200px;">
          	        <rzslider rz-slider-model="userInput.nResponsesMin" rz-slider-high="userInput.nResponsesMax" rz-slider-options="options.nResponsesSlider"></rzslider>
                  </div> 
                </li>	
                <li id="li_6">
                  <label class="description" for="showDetailedResults"> Search Results </label>
                  <div>
                  	Number of Results: {{data.searchResults.length}}
              	  </div>
                  <input type="checkbox" ng-model="options.showDetailedResults" name="showDetailedResults" id="showDetailedResults" /> show Detailed Results
                </li>	
                <li id="li_6">
                  <label class="description" for="load"> Data </label>
                  <div>
                    Load all files in search results
                  </div>
                  <div>
              	    <button type="button" ng-click="load()">Load Data</button>
                  </div>
                </li>	
              </ul>

        	    </td>
          
              <td class="noborder">
                <h3>Search Results Table</h3>
                <div class="mytable rtable" >
                  <table style="height:600px; display: block; overflow-y: scroll; overflow-x: hidden;" ng-if="data.searchResults.length > 0">
                    <thead>
                      <tr>
                        <th>#</th>
                        <th>Protocol</th>
                        <th>Local Date</th>
                        <th>nResponses</th>
                        <th>UUID</th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr ng-repeat="res in data.searchResults track by $index">
                        <td>{{$index}}</td>
                        <td>{{res.protocolName}}</td>
                        <td>{{res.testDateTime}}</td>
                        <td>{{res.nResponses}}</td>
                        <td>{{res.tabletUUID}}</td>
                      </tr>
                    </tbody>
                  </table>
                </div>
                
              </td>
              
              <td style="align: top; width: 500px;" class="noborder">
                <h3>Detailed Search Results</h3>
                <div ng-if="options.showDetailedResults">
                  <table style="height:600px; display: block; overflow-y: scroll; overflow-x: hidden;">
                    <tbody>
                      <tr>
                        <td class="noborder">
                          <json-formatter json="data.searchResults" open="1"></json-formatter>
                        </td>
                      </tr>
                    </tbody>  
                  </table>
                  
                  <hr>
                </div>
              </td>
            </tr>
          </tbody>
        </table>
        
        <div>
            <h3>Loaded Data</h3>
            <json-formatter json="data.loadedData" open="1"></json-formatter>
        </div>
        
        <div>
          <h4>Export All Loaded Data</h4>
          <div>
              <button ng-if="data.searchResults.length > 0" type="button" ng-click="exportJson()"> JSON </button>
              <button ng-if="data.searchResults.length > 0" type="button" ng-click="exportXLSX()"> XLS </button>
              <button ng-if="data.searchResults.length > 0" type="button" ng-click="exportTxt()"> TXT </button>
          </div>
        </div>
        
        <hr>
        <h4> Format Data </h4>
        
        <div>
          Presentations: <select ng-change="onSelectedPresentationIdChange()" ng-model="userInput.presentationId" ng-options="x for x in data.presentationIds">
          </select>
        </div>
        
        <div>
          Output By Response:
          <table>
            <thead>
              <tr>
                <th ng-repeat="field in data.formattedData.byResponse.fields">{{field}}</th>
              </tr>
            </thead>
            <tbody>
              <tr ng-repeat="res in data.formattedData.byResponse.data">
                <td ng-repeat="field in data.formattedData.byResponse.fields">{{res[field]}}</td>
              </tr>
            </tbody>
          </table>
        </div>
        
        <div>
          Output By Test:
          <table ng-repeat="test in data.formattedData.byTest">
            <thead>
              <tr>
                <th ng-repeat="field in data.formattedData.fields">{{field}}</th>
              </tr>
            </thead>
            <tbody>
              <tr ng-repeat="res in test">
                <td ng-repeat="field in data.formattedData.fields">{{res[field]}}</td>
              </tr>
            </tbody>
          </table>
        </div>
        
        <h4>Pick and choose fields</h4>
        <p ng-repeat="presentation in data.presentationIds">
            <input type="checkbox" ng-model="userInput.headerFields[presentation]" name="{{presentation}}" id="{{presentation}}" />
            {{presentation}}
        </p>
    
    </div>
    
    <script src="script.js"></script>
    
  </body>
</html>