/* Styles go here */

.rtable table, th , td  {
  border: 1px solid grey !important;
  border-collapse: collapse !important;
  padding: 5px !important;
  vertical-align: top;
}
.rtable tr:nth-child(odd) {
  background-color: #f1f1f1;
}
.rtable tr:nth-child(even) {
  background-color: #ffffff;
}

.noborder {
  border: none !important;
}
